.idea/
.venv/
dist/
build/

requirements.txt
*.pyc
/concealed_vars.py
/dal/csv_data/.~lock.addresses.csv#
/dal/csv_data/.~lock.companies.csv#
/dal/csv_data/.~lock.email_addresses.csv#
/dal/csv_data/.~lock.fax_numbers.csv#
/dal/csv_data/.~lock.people.csv#
/dal/csv_data/.~lock.phone_numbers.csv#
/dal/csv_data/.~lock.websites.csv#
dal/csv_data/.~lock.contacts.csv\#
/main.dist
/venv3.12
