.idea/
.venv/
build/

*.pyc
concealed_vars.py

/core/dal/csv_data/.~lock.addresses.csv#
/core/dal/csv_data/.~lock.companies.csv#
/core/dal/csv_data/.~lock.email_addresses.csv#
/core/dal/csv_data/.~lock.fax_numbers.csv#
/core/dal/csv_data/.~lock.people.csv#
/core/dal/csv_data/.~lock.phone_numbers.csv#
/core/dal/csv_data/.~lock.websites.csv#
core/dal/csv_data/.~lock.contacts.csv\#
/main.dist
/venv3.12
